.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #333;
}

.ui.divider {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.ui.form .field {
  margin-bottom: 15px;
  margin-left: 20px;
}

.ui.form .field label {
  margin-bottom: 10px;
  color: #555;
  display: block;
  font-weight: bold;
}

.ui.form .field input {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.field input {
  padding-left: 15px;
}

.fluid.ui.button.blue {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 90%; /* Make the button take full width */
  margin: 0 auto; /* Center the button */
  margin-left: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* Center the text */
}

.fluid.ui.button.blue:hover {
  background-color: #80c0ff;
}